<app-header></app-header>
<div class="editar"><br>
  <div class="content">
    <br><h2>CADASTRO</h2>
    <label class="backhome" routerLink="/home">HOME <i class="fas fa-home"></i></label>
  </div><hr>

  <form class="row g-3">
    <div class="col-1"></div>

    <div class="col-10">
      <label class="form-label">Descrição</label>
      <textarea  type="text" class="form-control" id="inputDescricao" rows="3" required></textarea>
    </div>

    <div class="col-12"></div>

    <div class="col-1"></div>

    <div class="col-md-3">
      <label class="form-label">Categoria</label>
      <select id="inputCategoria" class="form-select" required>
        <option selected>Selecione...</option>
        <option value="1">Eletrônico</option>
        <option value="2">Livro</option>
        <option value="3">Música</option>
        <option value="4">Telefonia</option>
        <option value="5">Papelaria</option>
        <option value="6">Roupa</option>
      </select>
    </div>

    <div class="col-1"></div>

    <div class="col-md-3">
      <label class="form-label">Data da Copra</label>
      <input type="date" class="form-control" id="inputData" required>
    </div>

    <div class="col-1"></div>

    <div class="col-md-2">
      <label class="form-label">Preço <i class="fas fa-money-bill-wave-alt"></i></label>
      <input placeholder="R$ 00,00" type="number" class="form-control" id="inputPreco" required>
    </div>

    <div class="col-12"></div>

    <div class="col-3"></div>

    <div class="col-8">
      <button class="cadastrar" type="submit" title="Editar Produto">Editar <i class="far fa-save"></i></button>
      <button class="cancelar" type="button" routerLink="/listar" title="Cancelar Edição">Cancelar <i class="fas fa-times"></i></button>
    </div>
  </form>
</div>

