.cabeçalho{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 20px;

  background-color: #F4F4F4;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}
