.cadastro{
  margin: auto;
  width: 900px;
  background-color: #F4F4F4;
  border-radius: 30px;
}

.content{
  margin-top: 40px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

form{
  font-size: larger;
  padding: 20px;
}

button{
  margin-left: 50px;
  margin-top: 50px;
  font-size: large;
  width: 150px;
  height: 40px;
  border-radius: 10px;
  cursor: pointer;
  transition: .3s ease all;
}

button.cadastrar{
  color: green;
}

button.cancelar{
  color: red;
}

.cadastrar:hover{
  border-color: teal;
  background-color: green;
  border-color: darkcyan;
  color: white;
}

.cancelar:hover{
  border-color: crimson;
  background-color: red;
  border-color: darkred;
  color: white;
}

.backhome{
  cursor: pointer;
  margin-right: -50px;
}

.backhome:hover{
  color: turquoise;
}

