<app-header></app-header>
<div class="cadastro"><br>
  <div class="content">
    <br><h2>CADASTRO</h2>
    <label class="backhome" routerLink="/home">HOME <i class="fas fa-home"></i></label>
  </div><hr>

  <form #form="ngForm" (ngSubmit)="onSubmit()" class="row g-3">
    <div class="col-1"></div>

    <div class="col-10">
      <label class="form-label">Descrição</label>
      <textarea placeholder="Escreva nesta área a descrição do produto que será cadastrado!" type="text" class="form-control" rows="3" name="descricao" required [(ngModel)]="produto.descricao"></textarea>
    </div>

    <div class="col-12"></div>

    <div class="col-1"></div>

    <div class="col-md-3">
      <label class="form-label">Categoria</label>
      <select class="form-select" required name="categoria" [(ngModel)]="produto.categoria">
        <option selected>Selecione...</option>
        <option value="Eletônico">Eletrônico</option>
        <option value="Livro">Livro</option>
        <option value="Música">Música</option>
        <option value="Telefonia">Telefonia</option>
        <option value="Papelaria">Papelaria</option>
        <option value="Roupa">Roupa</option>
      </select>
    </div>

    <div class="col-1"></div>

    <div class="col-md-3">
      <label class="form-label">Data da Compra</label>
      <input placeholder="dd/mm/aaaa" type="text" class="form-control" required name="dataCompra" [(ngModel)]="produto.dataCompra">
    </div>

    <div class="col-1"></div>

    <div class="col-md-2">
      <label class="form-label">Preço <i class="fas fa-money-bill-wave-alt"></i></label>
      <input placeholder="R$ 00,00" type="number" class="form-control" name="preco" required [(ngModel)]="produto.preco">
    </div>

    <div class="col-12"></div>

    <div class="col-3"></div>

    <div class="col-8">
      <button class="cadastrar"  type="submit" title="Efetuar o Cadastro">Cadastrar <i class="far fa-save"></i></button>
      <button class="cancelar" type="button" routerLink="/listar" title="Cancelar o Cadastro">Cancelar <i class="fas fa-times"></i></button>
    </div>
  </form>
</div>

